[project]
	description = A modern feeling theme for Jenkins CI server
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/bessonzhao
[access "refs/for/refs/*"]
	read = group user/bessonzhao
	push = group user/bessonzhao
	label-Code-Review = -2..+2 group user/bessonzhao
	label-Verified = -1..+1 group user/bessonzhao
	rebase = group user/bessonzhao
	removeReviewer = group user/bessonzhao
	submit = group user/bessonzhao
[access "refs/heads/*"]
	read = group user/bessonzhao
	create = group user/bessonzhao
	push = +force group user/bessonzhao
	pushMerge = group user/bessonzhao
[access "refs/tags/*"]
	push = group user/bessonzhao
	push = +force group user/bessonzhao
